.widget {
  max-width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

.widget__heading {
  margin: 0;
}

.widget__delimiter {
  margin: 1rem 0;
  border: 1px solid rgba(0,0,0,.3);
}

.widget__content {
  margin: 0;

}